@page "/chat"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<div class="form-group">
    <label>
        Name:
        <input @bind="name" disabled="@(fixName!=null)" />
    </label>
</div>
<div class="form-group">
    <label>
        Message:
        <input @bind="messageInput" size="50" />
    </label>
</div>
<button @onclick="Send" disabled="@(!IsConnected)">Send</button>
<button @onclick="SendToMyself" disabled="@(!IsConnected)">Send to myself for fun</button>
<div>
    THe hub connection state enumerable value of connected is @HubConnectionState.Connected
</div>

<hr>

<ol id="messagesList">
    @foreach (var message in messages)
    {
        <li class="message">@message</li>
    }
</ol>

<p class="someoneistyping">@SendSomeOneIsTyping</p>




@code {
    private HubConnection hubConnection;
    private List<string> messages = new List<string>();
        
    private string userInput;
    private string messageInput;
    private string name;
    private string SendSomeOneIsTyping;

    [Parameter]
    public string fixName { get; set; }

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/ChatHub"))
            .Build();

       hubConnection.On<string, string>("ReceivingMessageFromAuser", (userInfoFromTheServer, messageFromTheuser) =>
        {
            var encodedMsg = $"{userInfoFromTheServer}: {messageFromTheuser}";
            var encodedMessageWIthoutTemplatedString = userInfoFromTheServer + ": " + messageFromTheuser;
            messages.Add(encodedMsg);
            StateHasChanged();
        });
        hubConnection.On<string, string>("someoneistyping", (user, message) =>
        {
            SendSomeOneIsTyping = user;
            messages.Add(new List{user, message});
            StateHasChanged();
        });
        hubConnection.On<string, string>("someoneistyping", (user, message) =>
        {
            SendSomeOneStopedTyping = user;
            messages.Add(new List{user, message});
            StateHasChanged();
        });
       



        await hubConnection.StartAsync();
    }
     protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        name = fixName ?? string.Empty;
    }
    async Task SendSomeOneIsTyping() =>
        await hubConnection.SendAsync("someoneistyping", name);

    async Task SendSomeOneStopedTyping() =>
        await hubConnection.SendAsync("someoneistyping", name);
    async Task Send() =>
        await hubConnection.SendAsync("SendMessage", userInput, messageInput);

        async Task SendToMyself() =>
    await hubConnection.SendAsync("SendMessageToCaller", userInput, messageInput);

    public bool IsConnected =>
        hubConnection.State == HubConnectionState.Connected;

    public bool shouldDisabledNameInput =>
         string.IsNullOrEmpty(fixName) ? false : true;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
    
}