@page
@model RazorPagesDogs.Pages_Dogs.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Dogs</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dogs.Breed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dogs.Breed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dogs.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dogs.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dogs.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dogs.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dogs.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dogs.Price)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Dogs.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
