@page
@model RazorPagesDogs.Pages_Dogs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dogs</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dogs.Breed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dogs.Breed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dogs.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dogs.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dogs.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dogs.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dogs.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dogs.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Dogs.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
